@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body {
    background-color: rgb(22, 22, 22);
}
header{
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 20%;
}
img{
    width: 100%;
}
.navbarFont{
    text-decoration: none;
    padding: 0 15px;
    transition: 0.3s;
}
.navbarFont:hover {
    color: rgb(255, 0, 255)
}
#gpuIcon{
    width: 40px;
}
.textCenter{
    text-align: center;
}
.flexImages{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 20%;
}
.flexElements{
    width: 50%;
    padding: 2%;
}
.flexText{
}
.bodyTitle{
    justify-content: center;
}
.threeItems{
    width: 33%;
}
.cover{
    display:flex;
    justify-content: center;
}
footer{
    background-color:rgb(36, 36, 36);
}
