@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(22, 22, 22);
    font-family: 'Poppins', sans-serif;
    color: white;
}
.navbarStyle{
    position: fixed;
    width: 100%;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 20%;
}
.navbarFont{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 15px;
    transition: 0.3s;
}
.navbarFont:hover {
    color: rgb(255, 0, 255)
}
#gpuIcon{
    width: 40px;
}
.verticalBodyStyle{
    display:flex;
    flex-wrap: wrap;
    padding: 5% 20%;
}
.verticalBodyImages{
    width: 50%;
    padding: 2%;
}
.verticalBodyText{
    width: 50%;
    padding: 4%;
}
.bodyTitle{
    text-align: center;
    justify-content: center;
}
.horizontalBodyStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:2% 10%;
}
.horizontalBodyElement{
    width: 30%;
    padding: 3%;
}
.horizontalBodyImages{
    width: 100%;
}
.horizontalBodyText{
    padding: 2%;
    text-align: center;
}